.address {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.select-address {
    font-size: 20px;
    font-weight: 600;
}

.address-list {
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.address-option, .active-btn-1, .active-btn-2 {
    width: 80%;
    height: 80px;
    margin: 5px 0 5px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    border: 2px solid #333333;
    border-radius: 10px;
    background-color: #ffff;
}

.address-option:hover, .add-address:hover {
    background-color: #333333;
    color: #ffff;
}

.active-btn-1, .active-btn-2 {
    background-color: #333333;
    color: #ffff;
}

.add-address {
    width: 80%;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    border: 2px solid #333333;
    border-radius: 10px;
    margin: 5px 0 5px 0;
    padding: 5px;
    background-color: #ffff;
}