.payment {
    border: 2px solid #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
}

.select-pay-method {
    
    font-size: 20px;
    font-weight: 600;
}

.payment-list {
    /* border: 1px solid black; */
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pay-label {
    padding: 5px;
    /* border: 2px solid #333333; */
    border-radius: 10px;
    width: 80%;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.pay-option {
    margin-left: 10px;
}

