@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.product-card {
    /* border: 2px solid #333333; */
    /* margin: 0 50px 10px 50px; */
    display: flex;  
    font-family: 'Poppins', sans-serif; 
    border-radius: 2px; 
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.product-image {
    /* border: 1px solid black; */
    padding: 10px;
    width: 200px;
    height: 200px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-info {
    /* border: 1px solid black; */
    width: calc(100% - 200px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prod-name {
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
    font-size: 20px;
    font-weight: 600;
    border-bottom: 2px solid #a85a61;
}

.prod-cost {
    font-size: 25px;
    font-weight: 800;
    color: #333333;
    display: flex;
}

.currency {
    font-size: 12px;
    display: flex;
    padding-right: 5px;
    margin-top: 5px;
    color: orange;
    /* border: 1px solid black; */
}

.prod-time, .prod-date {
    font-size: 12px;
}

.prod-owner {
    font-size: 12px;
    font-weight: 600;
}

.owner {
    color: #800000;
}

.prod-btn {
    width: 50%;
    padding: 5px;
    border: 2px solid orange;
    font-family: 'Poppins', sans-serif; 
    font-weight: 600; 
    background-color: #ffff;
    transition: 0.3s;
}

.prod-btn:hover {
    cursor: pointer;
    background-color: orange;
    color: #ffff;
}

@media only screen and (max-width: 1000px) {
    .product-image {
        /* border: 1px solid black; */
        padding: 5px;
        width: 150px;
        height: 150px;
    }

    .product-info {
        padding-left: 5px;
    }
    
    .prod-name {
        justify-content: flex-start;
        font-size: 16px;
    }
    
    .prod-cost {
        font-size: 18px;
        font-weight: 600;
    }
    
    .currency {
        font-size: 10px;
    }
    
    .prod-time, .prod-date {
        font-size: 9px;
    }
    
    .prod-owner {
        font-size: 10px;
    }
    
    
    .prod-btn {
        width: 65%;
        padding: 3px;
        font-size: 12px;
    }
    
}


@media only screen and (max-width: 1000px) {

    .prod-name {
        justify-content: flex-start;
        font-size: 15px;
    }
    
    .prod-cost {
        font-size: 15px;
        font-weight: 600;
    }
    
    .currency {
        font-size: 9px;
    }
    
    
    
    .prod-btn {
        width: 65%;
        padding: 3px;
        font-size: 10px;
    }
    
}