.shop-page {
    min-height: calc(100vh - 100px);
    margin-bottom: 10px;
}

.filter-search {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px 10px 20px;
  height: 30px;
}

.all, .rare, .island, .jet, .yacht, .active-filter {
  width: 60px;
  padding: 2px;
  margin-right: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  background-color: #ffff;
  border: 2px solid #333333;
  border-radius: 10px;
  transition: 0.5s;
}

.active-filter {
background-color: #333333;
color: #ffff;
}

.all:hover, .rare:hover, .island:hover, .jet:hover, .yacht:hover, .active-filter:hover {
  background-color: #333333;
  color: #ffff;
  cursor: pointer;
}

.search-div {
  /* border: 2px solid black; */
  border-radius: 10px;
  display: flex;
}

.search-text {
  height: 90%;
  padding-left: 10px;
  border-radius: 10px 0 0 10px;
  border: 2px solid black;
}


.search-btn {
  height: 100%;
  width: 40px;
  border: 2px solid;
  font-size: 5px;
  border-radius: 0 10px 10px 0;
  transition: 0.3;
}


.search-btn:hover {
  cursor: pointer;
  background-color: #222222;
  color: #ffff;
}

.products {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    margin: 0 20px 0 20px;
}


  
@media only screen and (max-width: 1000px) {
    .products {
      grid-template-columns: auto;
      margin: 0 5px 0 5px;
    }


}

@media only screen and (max-width: 700px) {
  .products {
    grid-template-columns: auto;
    margin: 0 5px 0 5px;
  }

  .filter-search {
    width: 100%;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .sort-btn {
    width: 90%;
    padding: 10px;
    display: flex;
    justify-content: space-between;

  }

  .all, .rare, .island, .jet, .yacht, .active-filter {
    width: 50px;
    border-radius: 3px;
    font-size: 12px;
  }

  .active-filter {
    background-color: #333333;
    color: #ffff;
    }

    .search-text {
      height: auto;
      border-radius: 3px 0 0 3px;
      border: 2px solid black;
    }
    
    
    .search-btn {
      border-radius: 0 3px 3px 0;
    }

}

